# ignore vendor packages
node_modules
vendor
.env
.env.bak

# editor files
.vscode
.vim

# ignore cache
__pycache__
.phpunit*

# ignore compiled assets
*.o
*.out
*.class

# ignore compressed files
*.tar
*.tar.bz2
*.tar.gz
*.tgz
*.bz2
*.rar
*.zip
*.7z

# ignore videos
*.mp4
*.mov
*.mkv
*.webm

# ignore other IDE files
tags
!tags/
